<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "Akshat's" %}
{% set overview = "https://github.com/akshat122805/fastpages" %}
{% set scrumboard = "" %}
{% set repo = "https://github.com/DavidVasilev1/flask" %}
{% set authors = "https://akshat122805.github.io/fastpages/about/" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.clouds2.min.js') }}"></script>
    <script>
        VANTA.CLOUDS2({
          el: "body",
          mouseControls: true,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          scale: 1.00,
          texturePath: "./gallery/noise.png"
        })
        </script>
{% endblock %}