<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

 <!--Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "Samit's" %}
{% set overview = "https://samitpoojary.github.io/FASTPAGES/" %}
{% set scrumboard = "https://github.com/users/SamitPoojary/projects/2" %}
{% set repo = "https://github.com/DavidVasilev1/flask" %}
{% set authors = "https://github.com/SamitPoojary"  %}
{% set about = "https://samitpoojary.github.io/FASTPAGES/about/" %}
<!-- Setting up a block replacement to customize background to RINGS -->

{% block background %}

{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/halo.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}