<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Group Python Webserver</strong></h1>
        <p class="text-secondary">This is an introduction to our group.
            <p>Members:
                <li><a href="https://github.com/DavidVasilev1">David Vasilev</a></li>
                <li><a href="https://github.com/SamitPoojary">Samit Poojary</a></li>
                <li><a href="https://github.com/akshat122805">Akshat Parikh</a></li>
                <li><a href="https://github.com/vardaansinha">Vardaan Sinha</a></li>
            </p>
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
